body {
	background: url("http://frenzia.com/wp-content/uploads/2014/07/Black-and-White-3D-Music-Notes-Wallpaper.jpg") no-repeat fixed;
	background-size: cover;
}

div {
	text-align: center;
}

.top {
	background-color: black;
	color : #ffffff;
	border: 0;
	top:0;
	height: 213px;
	background: rgba(0,0,0,0.6);
	margin-top: 0px;
}

.Title{
	color: #eae0c2;
	text-align: center;
	font-size: 50px;
}

.name {
	background-color: black;
	height: 120;
	width: 900;
	text-align: center;
	margin: 10px 20px 20px 250px;
	color : #ffffff;
	border-style: groove;
	border-radius: 10px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.6);
}

.imagen2 {
	margin: -137px 10px 10px -700px;
	height: 136;
	width: 132;
}

.play2 {
	height: 100px;
	width: auto;
	margin: -100px 10px 10px 650px;
}

.range {
	background-color: black;
	height: 50;
	width: 100;
	text-align: inherit;
	font-size: 50px;
	margin: -110px 20px 20px -150px;
	color : #ffffff;
	border-style: groove;
	border-radius: 10px;
	background: rgb(0,0,0);
	background: rgba(0,0,0,0.6);
}

button {
	-moz-box-shadow: 0px 1px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
	background-color:#eae0c2;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
	background-color:#ccc2a6;
}

button:active {
	position:relative;
	top:1px;
}